* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mukta', sans-serif;
}
span {
	color: #c09d65;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Serif', serif;
}
i {
	color: rgb(53, 53, 53);
	padding-right: 10px;
	padding-left: 7px;
}
i :hover {
	color: rgb(17, 17, 17);
}
.law {
	font-size: 12px;
	margin-left: -5px;
	margin-top: -10px;
	letter-spacing: 0px;
	font-weight: 500;
}
#topfooter{
    overflow: hidden;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	}
	.phone {
		float: left;
	}
	.links {
		float: right;
	}
.centre{
	margin-left: 45%;
	}	
	.logo {
		width: 50px;
		text-align: center;
	}
	.brand{
		margin-left: -15px;
		font-size: 25px;
		letter-spacing: 1px;
		font-weight: bolder;
	}
	.navbar {
		text-align: center;
		margin-left: 260px;
		margin-top: -20px;
		font-weight: 600;
		font-size: 16px;
		margin-right: 50px;
	}
	.navbar a:hover {
		color: #c09d65;
	}
	.navbar li {
		margin-right: 12px;
	}
/*================================= FIRST SECTION ============================*/
.s1 {
		position: absolute;
		margin-top: 20px;
		font-weight: 100;
	}
	.image1 {
		
		margin-left: 566px;
		width: 787px;
		height: 450px;
		filter: brightness(55%);
	}
	.first {
		position: relative;
		z-index: 1;
		width: 470px;
		padding: 40px;
		padding-left: 50px;
		margin-top: 120px;
		margin-right: 650px;
	} 
	#sm {
		margin-left: 2px;
	}
	#n1 {
		margin-top: 15px;
		padding-left: 10px;
	}

/*================================= PHILOSOPHY ============================*/	
.philo {
	position: relative;
	margin-top: 120px;
	margin-bottom: 40px;
}
/*================================= SECOND SECTION ============================*/
.second {
	margin-top: 38px;
}
.column {
	float: left;
	width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

/*================================= THIRD SECTION ============================*/ 
.s2 {
	margin-top: 100px;
	}
	.image2 {
		position: absolute;
		width: 600px 0;
	}
	.third {
		position: relative;
		z-index: 1;
		width: 470px;
		padding: 30px;
		padding-left: 30px;
		margin-top: -50px;
		margin-bottom: 120px;
		margin-left: 585px;
	} 
	#list {
		margin-top: -100px;
		margin-left: -120px;
		line-height: 40px;
		font-size: 15px;
	}
	#list li {
		list-style-type: none;
		font-family: 'PT Serif', serif;
		font-size: 20px;
		font-weight: 500;
	}
	#list i {
		color: #c09d65;
		font-size: 20px;
		margin-right: 5px;
	}

/*================================= FOOTER ============================*/ 
.footer {
	margin-top: 30px;
	}
	.fo1 {
		font-size: 22px;
		padding-top: 60px;
	}
	.fo2 {
		font-size: 20px;
		margin-top: 15px;
	}